* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.believe-section {
    background-color: rgba(241, 233, 233, 0.77);
    padding-bottom: 30px;
    padding-top: 60px;
}

.believe-part {
    display: flex;
    align-items: center;
    margin: 0 100px;
}

.believe-text {
    text-align: right;
}

.believe-h1 {
    font-weight: 700;
    font-size: 65px;
}

.believe-p {
    color: #444343;
    margin-top: 30px;
}

.btn-contact {
    background: #F15B22;
    border-radius: 5px;
    width: 160px;
    height: 64px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border: 0px;
    margin-top: 30px;
}

.failures-section {
    margin-top: 130px;
}

.right-img {
    background-color: greenyellow;
}

.failures-section {
    display: flex;
    align-items: center;
    margin: 100px 100px;
}

.failures-text {
    margin-left: 120px;
}

.failures-h1 {
    font-weight: 700;
    font-size: 40px;
}

.failures-p {
    font-size: 16px;
    color: #444343;
}

.plan-h1 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}

.plan-divs {
    display: flex;
    justify-content: space-around;
    margin: 180px 100px;
}

.plan-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan-heading {
    font-weight: 700;
    font-size: 30px;
}

.plan-p {
    font-weight: 500;
    font-size: 25px;
}

footer {
    background-color: black;
    color: #F8F8F8;
    display: flex;
    padding: 180px;
}

.footer-div {
    width: 50%;
    margin-right: 200px;
}

.footer-h4 {
    font-weight: 700;
    font-size: 45px;
}

footer img {
    width: 47px;
    height: 46px;
    margin-top: 30px;
}

.footer-p {
    font-size: 16px;
    margin-top: 30px;
}

.submit-div {
    width: 50%;
}

.submit-h4 {
    font-weight: 600;
    font-size: 25px;
}

.email-div {
    background-color: black;
    color: white;
    width: 325px;
    height: 64px;
    font-size: 18px;
    border: 2px solid white;
    border-radius: 5px;
    margin: 20px 0px;
    padding: 10px;
}

.btn-submit {
    width: 170px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
}